.about-us-section{
    display: flex;
    justify-content: center;
}

.subtitle{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom:2rem;
}
.h1-main{
    
    font-size:3rem;
    max-width: 1200px;
    text-align: center;
}
.image-div{
    display: flex;
    margin-bottom: 50px;
}
.all-wrap{
    margin-top: 50px;
}
@media only screen and (max-width:1200px){
    .image-div{
        display: none;
    }
    .h1-main{
        text-align:center;
        font-size: 2rem;
    }
    .about-us-section{
        margin: auto;
        text-align: center;
    }
}
